@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --black:rgb(36, 36, 36);
  --font-one:'Crimson Pro', serif;
}

.navbar{
  margin: 1vw auto;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.237);
  padding: 1vw;
  position: sticky;
  top: 0px;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image{
  width: 10vw;
}

.info p{
  font-size: 1.6vw;
  font-family: var(--font-one);
  margin: 1vw auto;
  text-align: right;
}

.navigation-div{
  border: 1px solid gray;
  text-align: center;
  padding: 1.54vw;
}

.navigation-div a{
  color: gray;
  margin: 1vw 3vw;
  font-size: 2vw;
  text-decoration: none;
}